.fullCard_container {
   overflow-y: scroll;
   top: 0;
   left: 0;
   position: fixed;
   width: 100%;
   height: 100%;
   background: #ffffff;
   display: flex;
   flex-direction: column;
}
.fullCard_header {
   background-color: #cccccc;
   text-align: center;
   margin: 0;
   padding: 10px;
   font-size: 70px;
   border-bottom: 2px solid #000000;
}
.fullCard_content {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-around;
}
.fullCard_imageBlock {
   display: flex;
   flex-wrap: wrap;
   width: 250px;
}
.fullCard_big_image{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   width: 250px;
   height: 250px;
}
.fullCard_small_img {
   box-sizing: border-box;
   max-height: 80px;
   width: 80px;
}
.fullCard_activeImage {
   border: 3px solid black
}
.fullCard_close_button {
   transition: .4s;
   display: flex;
   justify-content: center;
   align-items: center;
   box-sizing: border-box;
   cursor: pointer;
   height: 60px;
   width: 60px;
   border: 1px solid black;
   border-radius: 50%;
   position: absolute;
   right: 5%;
   top: 1%;
}
.fullCard_close_button:hover {
   background: #ffffff;
   border: 2px solid red;
}