.Pagination {
   display: flex;
   justify-content: center;
}
.Pagination-buttons{
   list-style: none;
   display: flex;
   margin: 0 auto;
}
.Pagination-button{
   vertical-align: middle;
   text-align: center;
   min-width: 20px;
   padding: 2px 5px;
   margin: 2px;
   border: 1px solid #000000;
}
.Pagination-button:hover {
   cursor: pointer;
}

.active {
   background-color: #ccc;
}
.disabled {
   color: #ccc;
   border: 1px solid #cccccc;
}
.disabled:hover{
   cursor: not-allowed;
}
.disabled > .Pagination-link {
   pointer-events: none;
}