.search_hints_container {
   position: absolute;
}
.search_hint {
   background: #cccccc;
   border: 1px solid #000;
   width: 100%;
   cursor: pointer;
   padding: 2px 5px;
   margin: 2px;
}
.search_hint:hover {
   background-color: #ffffff;
}