.Search-hintsContainer {
   position: absolute;
}
.Search-hint {
   background: #cccccc;
   border: 1px solid #000;
   width: 100%;
   cursor: pointer;
   padding: 2px 5px;
   margin: 2px;
}
.Search-hint:hover {
   background-color: #ffffff;
}